<div class="pad">
<mat-card class="footer">
  <span class="footer-element">
    <h4>Contacts</h4>
    Président: Christophe Renard<br>
    adresse mail: christophe.renard@gmail.com<br>
    Tel: 06 23 67 54 99
  </span>
  <span class="footer-element-sponsors">
      <h4>Sponsors</h4>
      <a href="http://www.dyal-consulting.fr/" target="_blank"><img class="map" src="./assets/dial.jpg" title="Dyal consulting"/></a>
  </span>
  <span class="footer-element-liens">
    <h4>Liens utiles</h4>
    <a href="http://www.mairie-saint-christophe-des-bardes.com/">Mairie de Saint christophe</a>
    <a href="http://www.grand-saint-emilionnais.fr/saint-laurent-des-combes/">Communauté de commune de Saint-Emilion</a>
    <a href="http://www.fftt.com/site/">Federation Française de Tennis de Table</a>
  </span>
    <span class="footer-element-reseaux">
        <h4>Retrouvez-nous sur les réseaux sociaux</h4>
        <div class="icones">
        <a href="http://www.google.fr/" target="_blank"><img class="reseaux" src="./assets/google.png" title="Google"/></a>
        <a href="http://www.twitter.fr/" target="_blank"><img class="reseaux" src="./assets/twitter.png" title="Twitter"/></a>
        <a href="http://www.facebook.fr/" target="_blank"><img class="reseaux" src="./assets/facebook.png" title="Facebook"/></a>
        <a href="http://www.youtube.fr/" target="_blank"><img class="reseaux" src="./assets/youtube.png" title="Youtube"/></a>
      </div>
    </span>
</mat-card>
</div>
