.footer {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(157, 157, 218);
   
}
.pad {
    padding-top: 10px;
}

.footer-element {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 0.8em;
}

.map {
    max-width:20%;
	height: auto;
}

.footer-element-reseaux {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}

.footer-element-sponsors {
    text-align: center;
}

.footer-element-liens {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 0.8em;
}

.icones {
    display: flex;
    flex-direction: row;
}

.reseaux {
    max-width: 40%;
	height: auto;
}

