<mat-card class="contenu">
  
  <!--Filtre pour recherche adherents -->
  <mat-form-field>
    <input matInput (keyup)="filtrerTableau($event.target.value)" placeholder="Recherche d'un adhérent">
  </mat-form-field>
  <!-- Affichage tableau des adhérents -->
  <mat-table [dataSource]="dataAdherents" matSort>
      
    <ng-container matColumnDef ="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>No adhérent</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef ="nom">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.nom | uppercase}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef ="prenom">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.prenom | premiereLettreEnCapitale }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef ="code postal">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Code postal</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.codePostal}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef ="commune">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Commune</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.commune | uppercase}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef ="portable">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Portable</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.telPortable}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef ="detail">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element"><button class="detail" (click)="showDetail(element.id)" [routerLink]="['/adherent',element.id]">Détail</button></mat-cell>
      </ng-container>
      <ng-container matColumnDef ="editer">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element"><button class="edit" (click)="update()" [routerLink]="['/adherent/edit/',element.id]">Editer</button></mat-cell>
      </ng-container>
      <ng-container matColumnDef ="supprimer">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element"><button class="suppr" (click)="delete(element.id)">Supprimer</button></mat-cell>
        <!--<mat-cell *matCellDef="let element"><button class="suppr" (click)="openDialog()">Supprimer</button></mat-cell> -->
      </ng-container>
      <mat-header-row *matHeaderRowDef="colonnesAdherents"></mat-header-row>
      <mat-row *matRowDef="let row; columns:colonnesAdherents" ></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]=10 [pageSizeOptions]="[5,10,20]" [showFirstLastButtons]="true" >
  </mat-paginator>
</mat-card>