mat-cell {
    text-align: left;
}

.edit {
    padding:9px;
	background:#365bd3;
	color:#fff;
	border-radius:2px;
    border:none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor:pointer;

}


.suppr {
    padding:9px;
	background:#d34836;
	color:#fff;
	border-radius:2px;
    border:none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor:pointer;
}

.detail {
    padding:9px;
	background:#16c993;
	color:#fff;
	border-radius:2px;
    border:none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor:pointer;
}



.edit:hover {
    background-color:white; 
    color: #365bd3;
}


.suppr:hover {
    background-color:white; 
    color: #d34836;
}

.detail:hover {
    background-color:white; 
    color: #16c993;
}

