mat-cell {
    text-align: left;
}

.edit {
    padding:9px;
	background:#365bd3;
	color:#fff;
	border-radius:2px;
    border:none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor:pointer;

}