<form (ngSubmit)="onSubmit()">
<mat-card class="formulaire">

  <mat-card class="etatCivil">
      <mat-card-title>Etat-Civil</mat-card-title>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nom" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Prénom" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Date de naissance" value="">
    </mat-form-field>
  </mat-card>

  <mat-card class="contact">
      <legend>Infos de contact</legend>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="adresse" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="code postal" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="commune" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="téléphone domicile" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="téléphone portable" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="adresse mail" value="">
      </mat-form-field>
    </mat-card>

    <mat-card class="club">
        <legend>Infos liées au club</legend>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="pseudo" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="mot de passe" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="rôle" value="">
        </mat-form-field>
      </mat-card>


</mat-card>
</form>
