<mat-card class="presentation">
  <mat-card-title>
    Espace Associatif: un club familial
  </mat-card-title>
  <hr color="blue">
  <mat-card-content class="mcc">
    <p><strong>L'espace Associatif</strong> est un club de Tennis de Table né de la fusion de plusieurs clubs dans le début des annés 80. En effet, afin de creer une stucture perenne, les associations de Saint-Laurent des Combes, Saint-Christophe des Bardes et Saint-Hyppolyte, ont décidé de se rassembler afin de créer l' ESPACE ASSOCIATIF</p>
    <p>Dirigé depuis de nombreuses années par Christophe RENARD, nos deux salles d'entraînements se situent au coeur de la communauté de commune de Saint-Emilion. Vous trouverez ci-dessous le moyen de vous rendre dans une de nos salles</p>
  </mat-card-content>
</mat-card>


<div class="mep" >
  <mat-card class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Saint-Christophe des Bardes</mat-card-title>
      <mat-card-subtitle>Salle de compétition</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/ping.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      
        <h4>Adresse: </h4> Place de la mairie 33330 Saint-Cristophe des Bardes
      
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.google.fr/maps/search/33330+Saint-Christophe-des-Bardes+MAIRIE/@44.8955775,-0.1282068,946m/data=!3m1!1e3" target="_blank"><button mat-button>Nous localiser</button></a>
    </mat-card-actions>


  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Saint-Laurent des Combes</mat-card-title>
      <mat-card-subtitle>Salle de compétition</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/pong.jpg" alt="Salle de Saint Laurent Des Combes">
    <mat-card-content>
     
        <h4>Adresse: </h4>23 rue des Mirotes 33330 Saint-Laurent des Combes
      
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.google.fr/maps/place/La+Mairie+de+Saint-Laurent-des-Combes,+Gironde/@44.8751562,-0.1388556,2071m/data=!3m1!1e3!4m5!3m4!1s0x0:0xa5e6764b0385b78f!8m2!3d44.8752196!4d-0.1324219" target="_blank"><button mat-button>Nous localiser</button></a>
    </mat-card-actions>
  </mat-card>
</div>
